html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section {
  position: relative;
  min-height: 100vh;
}

html, body {
  margin: 0;
  font-family: Arial Bold, sans-serif;
  background-image: url(Assets/background.jpg)
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
}


@media screen and (max-width: 1010px) {
  .long-about {
    display: flex;
    flex-direction: column;
  }

  .about-p {
    font-size: 2vw;
  }

  .myphoto {
    max-width: 400px;
    max-height: 300px;
    padding: 1%;
  }

  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 3.5vw;
  }




}
