html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  font-family: Arial Bold, sans-serif;
  background-image: url(Assets/background.jpg)
}

body {
  position: relative;
  height: 100vh;
}

header {
  height: 35px;
  width: 100%;
  background-color: rgb(36, 50, 69);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  position: relative;
  bottom: 7px;
}


a {
  text-decoration: none;
  color: white;
}

span {
  margin-right: 1vw;
}

ul {
  display: flex;
  flex-direction: row;
  min-width: 30vw;
  justify-content: space-evenly;
  padding: 0px;
}

li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  background-color: rgb(36, 50, 69);
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
}

.f-span, .contact-link {
  font-size: .6rem;
  color: white;
  position: relative;
  top: 40%;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
}

input[type=text], input[type=email], textarea {
  width: 40vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50vw;
  position: relative;
  top: 20vh;
  display: block;
  margin: 0 auto;
}

input[type=submit] {
  cursor: pointer;
  width: 100px;
  height: 30px;
}

@media screen and (max-width: 620px) {

  .contact-form {
    width: 90vw;
    top: 11vh;
  }

  input[type=text], input[type=email], textarea {
    width: 80vw;
  }

  .f-span, .contact-link {
    font-size: .5rem;
  }

}
