html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  font-family: Arial Bold, sans-serif;
}

header {
  height: 50px;
  width: 100%;
}

h1 {
  position: relative;
  top: 20vh;
  left: 4%;
}

a {
  text-decoration: none;
  color: black;
}

span {
  margin-right: 1vw;
}


ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 8px;
}

li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 45px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
}

textarea {
  height: 20vh;
  width: 40vh;
}

.button {
  position: relative;
  left: 16%;
}

.message {
  position: relative;
}


#name  {
  position: relative;
  left: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
}


#mail  {
  position: relative;
  left: 4.5%;
  margin-bottom: 5px;
}
.contact-form {
  position: relative;
  height: 50%;
  width: 50%;
  top: 35vh;
  left: 5vh;
}

@media screen and (max-width: 1010px) {
  header, footer {
    position: relative
  }

}
