html {
  box-sizing: border-box;
  color: azure;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  font-family: Arial Bold, sans-serif;
}

body {
  position: relative;
  height: 100%;
  background-image: url(Assets/background.jpg);
}

header {
  height: 35px;
  width: 100%;
  background-color: rgb(36, 50, 69);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  position: relative;
  bottom: 7px;
}

ul {
  display: flex;
  flex-direction: row;
  min-width: 30vw;
  justify-content: space-evenly;
  padding: 0px;
}

li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.footer-flex {
  display: flex;
  justify-content: space-evenly;
}

.nav-li {
  margin-right: 30px;

}


a {
  text-decoration: none;
  color: white;
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  background-color: rgb(36, 50, 69);
  z-index: 3;
}

.f-span {
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: white;
}

.p-2 {
  display: flex;
  flex-direction: column;
}


.p-1:hover {
  background-image: url('Assets/App-BG-photos/dit-cart-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: right;
}

.p-2:hover {
  background-image: url('Assets/App-BG-photos/camera-bw-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
}

.p-3:hover {
  background-image: url('Assets/App-BG-photos/skyline-bg-blur.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  color: white;
}

.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.repo:hover {
  cursor: pointer;

}

p {
  padding: 30px;
  max-height: 120px;
  max-width: 370px;

  text-align: center;
  font-weight: bold;
}

.repo {
  top: 60%;
  margin-top: 50px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(35, 44, 58);
}

.repo-span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.tech-used-flex {
  display: flex;
  flex-direction: row;

}

li.tech-used {
  color: azure;
}

.flex {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:
  overflow-y: auto;
}

.app-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: xx-large;
  color: white;

}


@media screen and (max-width: 930px) {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 35px;
  }

  .proj {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .tech-used-flex {
    margin-top: 30px;
  }

  li.tech-used {
    padding-right: 10px;
  }


  .p-1 {
    background-image: url('Assets/App-BG-photos/dit-cart-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-position: right;
  }

  .p-2 {
    background-image: url('Assets/App-BG-photos/camera-bw-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

  }

  .p-3 {
    background-image: url('Assets/App-BG-photos/skyline-bg-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;

  }


  footer {
    text-align: center;
  }


}

@media screen and (max-width: 320px) {
  .tech-used-flex {
    margin-top: 47px;
  }
}
