html {
  box-sizing: border-box;
  color: azure;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  font-family: Arial Bold, sans-serif;
  background-image: url(Assets/background.jpg)
}

ul {
  display: flex;
  flex-direction: row;
  min-width: 30vw;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 45px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

footer {
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;

}

header {
  height: 50px;
  width: 100%;
}

.f-span {
  position: relative;
  left: 40px;
  position: relative;
  top: 20px;
  font-weight: bolder;
}

.p-2 {
  display: flex;
  flex-direction: column;
}


.p-1:hover {
  background-image: url('Assets/App-BG-photos/dit-cart-bw.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.p-2:hover {
  background-image: url('Assets/App-BG-photos/camera-bw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
}

.p-3:hover {
  background-image: url('Assets/App-BG-photos/skyline-bg-bw.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  color: white;
}

.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.repo:hover {
  cursor: pointer;

}

p {
  padding: 15px;
  max-height: 120px;
  max-width: 370px;
  position: absolute;
  top: 35%;
}

.repo {
  position: absolute;
  top: 60%;
}

.tech-used-flex {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4%;
}

li.tech-used {
  color: azure;
}


a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: xx-large;
  color: white;
  position: absolute;
  top: 30%;
}

@media screen and (max-width: 720px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  .proj {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30.3vh;

  }

  .app-title {
    position: relative;
    top: -1vh;
  }

  p {
    position: relative;
    top: 1%;
    margin: 0;
    font-size: .9rem;
    margin-bottom: 3%;
  }

  .tech-used-flex {
    position: relative;
    top: 1%;
    margin-bottom: 3%;
  }

  .repo {
    position: relative;
    top: 5%;
  }

  .f-span {
    position: relative;
    left: 10px;
    top: 20px;
  }


}
